* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family:Arial, Helvetica, sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.container-small {
	max-width: 700px;
	margin: 0 auto;
}

.row {
	display: flex;
	align-items: center;
	padding: 30px;
}

.row-reverse {
	flex-direction: row-reverse;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.main-header .row {
	align-items: center;
}

.main-header{
	    background-color: #255EE9;
}

/* .logo {
	min-width: 150px;
} */

.page-footer {
	background-color: #23272a;
	color: white;
}

.section {
	padding: 50px 0;
}

.col-16 {
	flex-basis: calc(100% / 6);
}

.col-33 {
	flex-basis: calc(100% / 3);
}

.col-40 {
	flex-basis: 40%;
}

.col-40 h1{
	padding-bottom: 20px;
    font-size: 40px;
}
.col-40 p{
	font-size: 18px;

}

.col-60 {
	display: flex;
}

.col-60 img {
	width: 100%;
	padding-right: 15px;
}

.col-100 {
	flex-basis: 100%;
}

.bg-gray {
	background-color: #d3d3d3;
}

.hero.section{
	background-image: url(../img/jumbo.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.logo{
	max-width: 85px;
}

.logo-img{
	max-width: 100%;
}
.login{
	max-width: 100%;
	background-color: white;
	color: black;
	border-radius: 15px;
	padding: 0px 15px;
}
.col{
	display: flex;
	gap: 25px;
	color: white;
}

.container-small{
	color: white;
	text-align: center;
}
.hero-title{
	font-size: 40px;
	padding-bottom: 45px;
	padding-top: 50px;
}

.hero-content{
	font-size: 22px;
}

.button-container{
	display: flex;
	justify-content: space-evenly;
	padding: 30px;
}

.button [class^="cta"]{
	padding: 12px 25px;
	border-radius: 999px;					
}

.cta1{
	background-color: white;
	color: black;
}

.cta2{
	background-color: #23272a;
}

.description{
	text-align: center;
	font-size: 28px;
}

.description-text{
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
}

.download-button button{
	padding: 12px 25px;
    border-radius: 999px;
    color: white;
    background-color: #7983F5;
    border: none;
}

.download-title{
	padding-bottom: 20px;
}

.cta-download{
	text-align: center;
}

.stars-container{
	position: relative;
    top: 30px;
}

.col-16 h4{
	color: #5865F2;
}

.col-16 li{
	padding: 8px 0 8px 0;
}

.col-33 h3{
	color: #5865F2;
	font-weight: 900;
	font-size: 20px;
	text-align: left;
}


/**************** 
DEBUG RULES
remove classe debug from body to disable
****************/

.debug .main-header {
	padding: 10px 0;
}

/* .debug .main-content {
	padding: 10px 0;
} */

.debug .page-footer {
	padding: 20px 0;
}

.debug .container,
.debug .container-small {
	padding: 10px;
	border: 4px dashed tomato;
}

.debug .row {
	border: 4px dotted cornflowerblue;
	padding: 30px;
}

/* .debug [class^='col'] {
	border: 3px solid black;
	padding: 5px 15px;
} */

.debug main [class^='col'] {
	min-height: 300px;
}

/* .debug .hero {
	background-color: #00008b;
} */

.debug .hero > * {
	min-height: 500px;
}

.debug .page-footer [class^='col'] {
	border-color: white;
}